html, body{height:100%; margin:0;padding:0}

body {
  background-color: #eee;
}

th {
  font-variant: small-caps;
  font-size: 10px;
}

h5 {
  font-variant: small-caps;
  font-size: 14px;
}

.table>thead>tr.active>th/*, .panel>.panel-body+.table-responsive, .table>tbody>tr>td*/ {
  border: none;
  background-color: #fff;
}

.bootcards-cards {
  font-size: 12px;
}

.list-group {
  font-size: 11px;
}
.table a{
  text-decoration: none;
  color: #333;
}

.clear {
  clear: both;
}

.vertical-center {
  position: absolute;
  top: 36%;
}

.progress {
  height: 14px;
  margin: 0;
}

.transparent {
  color: #fff;
  height: 1px;
}

.bootcards-cards a{
  color: #333;
  text-decoration: none;
  margin: 0;
}

.list-group-header {
  padding: 10px 15px;
}

.center {
  text-align: center;
  margin: 20px auto;
}

.small {
  font-size: 9px;
  margin: 30px 0px;
}

.small-search {
  height: 28px;
}

.search-label {
  position: absolute;
  top: 6px;
  left: 10px;
  z-index: 20;
  height: 22px;
  font-size: 100%;
}

.search-label2 {
  position: absolute;
  top: 6px;
  left: 95px;
  z-index: 20;
  height: 22px;
  font-size: 100%;
}

.input-group, .breadcrumb {
  margin-top: 20px;
}

.related-links {
  margin: 0px 5px;
}

.close {
  font-size: 18px;
  line-height: .8;
  float: none;
}

.alert {
  font-size: 12px;
  height: 26px;
  padding: 0px 5px;
}

.offset{
  padding-left: 96px;
}

.extra-padding {
  padding: 30px;
}

.extra-padding .panel-default {
  border: 0;
}

.dropdown-toggle {
  height: 20px;
  font-size: 10px;
  padding: 3px 10px;
}

.bottom-right {
  position: relative;
  left: 320px;
}
