body {
  background-color: #eee;
}

th {
  font-variant: small-caps;
  font-size: 10px;
}

.table>thead>tr.active>th/*, .panel>.panel-body+.table-responsive, .table>tbody>tr>td*/ {
  border: none;
  background-color: #fff;
}

.bootcards-cards {
  font-size: 12px;
}

.table a{
  text-decoration: none;
  color: #333;
}
